li a {
    color: green;
}
body {
    height: 80%;
    width: 80%;
    background-image: url('images/background.png');
    background-repeat : no-repeat;
    background-position : center;
    background-size : 40% 30%;
}